* {
	margin: 0;
	padding: 0;
}

header {
	background-color: LightBlue;
	padding: 10px;
	color: #555;
	font-family: 'Roboto Mono', monospace;
	text-align: center;
	margin-bottom: 50px;
}

.start-button {
	height: 50px;
	padding: 15px;
	display: block;
	margin: auto;
	margin-top: 20px;
}

.start-button-title {
	font-family: consolas;
	font-size: 20px;
}

.container {
	width: 600px;
	padding: 30px;
	margin-top: 30px;
	margin-left: auto;
	margin-right: auto;
	line-height: 30px;
	background-color: #F7F9FE;
	border: 2px dashed #BED2D9;
	box-shadow: 10px 10px #aaa;
	border-radius: 10px;
}

.quiz-title {
	text-align: center;
	font-family: 'Roboto Mono', monospace;
}

.question-number {
	font-family: Georgia;
}

.question-content {
	font-family: Calibri;
}

/*.question-form input[type="radio"] {
	display: block;
}*/

.submit-button {
	display: block;
	height: 30px;
	padding: 10px;
	margin: auto;
	font-family: consolas;
	text-transform: uppercase;
}

.question-count {
	text-align: center;
	margin-top: 10px;
	font-family: 'Roboto Mono', monospace;
	color: #666;
	font-size: 12px;
}

.correct-count {
	display:inline-block;
	width: 49%;
	margin-top: 15px;
	text-align: center;
	padding-top: 5px;
	padding-bottom: 5px;
	font-family: calibri;
	text-transform: uppercase;
	font-size: 12px;
	color: #333;
}

.correct {
	background-color: #B6D8C0;
}

.incorrect {
	background-color: #FC9D9A;
}